body {
	background-color: 00374D;
}

/*Intro Screen*/

.introDiv {
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;
	width: 625px;

}

img {
	margin-top: 50px;
}

.logo{
	display: inline-block;
	margin-top: 20px;
	width: 625px;
}

.nav {
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}


/*Question Screen*/

#questionDiv {
	margin: 0 auto;
	padding-top: 5px;
	text-align: center;
	width: 625px;
}

.mainDiv {
	margin: 0 auto;
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
}

#wordImg{
	display: inline-block;
	margin-top: 5px;
	max-width: 625px;
	text-align: center;
}

#wordImg{
	margin-top: 50px;
	text-align: center;
}

.question {
	color: #74A578;
	display: block;
	font-family: Raleway;
	font-size: 1.5em;
	margin-top: 25px;
}


#answerSelect{
	color: #E0E1E2;
	margin: 0 auto;
	margin-left: 265px;
	margin-top: 25px;
	text-align: left;
}

.option{
	margin-top: 25px;
}

.answer{
	color: #E0E1E2;
	font-family: Raleway;
	margin: 0 auto;
	text-align: center;
}


/*Results Screen*/

.resultPositive{
	margin: 0 auto;
	padding-top: 8em;
	text-align: center;
	width: 625px;
}

.resultNegative{
	margin: 0 auto;
	padding-top: 8em;
	text-align: center;
	width: 625px;
}

.result{
	margin: 0 auto;
	text-align: center;
	width: 625px;
}

#explain{
	color: #E0E1E2;
	display: block;
	font-family: Raleway;
	font-size: 1.5em;
	margin-top: 100px;
	text-align: center;
}


/*End Screen*/

.resultEnd{
	width: 625px;
	margin: 0 auto;
	padding-top: 8em;
	text-align: center;
}

#result{
	color: #E0E1E2;
	display: block;
	font-family: Raleway;
	font-size: 1.5em;
	margin-top: 100px;
	text-align: center;
}



